
@{
    ViewBag.Title = "ShortCodes";
    Layout = "~/Areas/Mobile/Views/Shared/_Index_Layout.cshtml";
}



<div class="easyui-navpanel">
    <div id="header">
        <a href="#menu"></a>
        <span id="Logo" class="svg">
            关于我们
        </span>
        <a class="backBtn" href="javascript:history.back();"></a>
    </div>
    <div style="padding:20px;padding-bottom:0px;">
        <lable> 关于我们：</lable>
        <span>框架跟这个简介一样简单</span>
    </div>
    <div style="padding:20px;padding-bottom:0px;">
        <lable> 技术选型：</lable>
        <span>Asp.net MVC + EF +EasyUI</span>
    </div>
</div>

