
@{
    ViewBag.Title = "ShortCodes";
    Layout = "~/Areas/Mobile/Views/Shared/_Index_Layout.cshtml";
}



<div class="easyui-navpanel">
    <div id="header">
        <a href="#menu"></a>
        <span id="Logo" class="svg">
            我的待办
        </span>
        <a class="backBtn" href="javascript:history.back();"></a>
    </div>

    <ul class="m-list">
        <li>
            刘大三-这是一段申请的简短说明
            <div class="m-right">
                <a href="/Mobile/Home/Details" class="o-buttons orange">详情</a>
            </div>
        </li>
        <li>
            刘大三-这是一段申请的简短说明
            <div class="m-right">
                <a href="/Mobile/Home/Details" class="o-buttons red">详情</a>
            </div>
        </li>
        <li>
            刘大三-这是一段申请的简短说明
            <div class="m-right">
                <a href="/Mobile/Home/Details" class="o-buttons blue">详情</a>
            </div>
        </li>
        <li>
            刘大三-这是一段申请的简短说明
            <div class="m-right">
                <a href="/Mobile/Home/Details" class="o-buttons orange">详情</a>
            </div>
        </li>
        <li>
            刘大三-这是一段申请的简短说明
            <div class="m-right">
                <a href="/Mobile/Home/Details" class="o-buttons red">详情</a>
            </div>
        </li>
        <li>
            刘大三-这是一段申请的简短说明
            <div class="m-right">
                <a href="/Mobile/Home/Details" class="o-buttons blue">详情</a>
            </div>
        </li><li>
    刘大三-这是一段申请的简短说明
    <div class="m-right">
        <a href="/Mobile/Home/Details" class="o-buttons orange">详情</a>
    </div>
</li>
<li>
    刘大三-这是一段申请的简短说明
    <div class="m-right">
        <a href="/Mobile/Home/Details" class="o-buttons red">详情</a>
    </div>
</li>
<li>
    刘大三-这是一段申请的简短说明
    <div class="m-right">
        <a href="/Mobile/Home/Details" class="o-buttons blue">详情</a>
    </div>
</li>
    </ul>
</div>
